/*navbar*/

.logo {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background-color: #61a3f1;
  color: white;
  height: 100px;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 3rem;
}

.nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav:hover {
  color: #f1618c;
}

.nav-item {
  margin-right: 1rem;
}
